<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="service.mapper.PositionMapper">
    <resultMap id="modelMap" type="model.Position">
        <id property="id" column="id"/>
        <result property="yearOfIssue" column="year_of_issue"/>
        <result property="mileage" column="mileage"/>
        <result property="price" column="price"/>
        <association
                property="brand"
                column="brand_id"
                javaType="model.Brand"
                select="service.mapper.BrandMapper.get"
                fetchType="eager"/>
        <association
                property="model"
                column="model_id"
                javaType="model.Model"
                select="service.mapper.ModelMapper.get"
                fetchType="eager"/>
    </resultMap>

    <select id="getAll" resultMap="modelMap">
        SELECT * FROM POSITION ORDER BY id
    </select>

    <select id="get" parameterType = "long" resultMap = "modelMap">
        SELECT * FROM POSITION where id = #{id};
    </select>

    <update id = "update" parameterType = "model.Model">
        UPDATE POSITION SET brand_id = #{brand.id},
                         model_id = #{model.id},
                         year_of_issue = #{yearOfIssue},
                         mileage = #{mileage},
                         price = #{price}
        WHERE id = #{id};
    </update>

    <insert id="create" parameterType = "model.Model" useGeneratedKeys="true" keyProperty="id">
        INSERT into POSITION (brand_id, model_id, year_of_issue, mileage, price)
        values(#{brand.id}, #{model.id}, #{yearOfIssue}, #{mileage}, #{price});
    </insert>

    <delete id="delete" parameterType = "long">
        DELETE FROM POSITION where id = #{id};
    </delete>

    <select id="search" resultMap="modelMap">
        SELECT * FROM POSITION p
        <if test="search != null" >
                LEFT JOIN BRAND b ON p.brand_id = b.id
                LEFT JOIN MODEL m ON p.model_id = m.id
            WHERE b.name like CONCAT('%', #{search},'%') OR m.name like CONCAT('%', #{search},'%')
        </if>
        ORDER BY id
    </select>

</mapper>